tr.color:hover td{
	background-color: #CED8F6;
}


#alta  th{
	background-color: #5882FA;

}

#alta  .par {
	background-color: #81BEF7;
}


#alta  .impar{
	background-color: #A9D0F5;
}


#menuh-container{
	position: fixed;		
	top: 0.5%;
	right: 33%;
}
	
#menuh-container1{
	position: fixed;		
	top: 0.5%;
	left: 10%;
}	

#menuh{
	font-size: small;
	font-family: arial, helvetica, sans-serif;
	width: 100%;
	float: left;
	margin: 2em;
	margin-top: 1em;
}
		
#menuh a{
	text-align: center;
	display:block;
	border: 1px solid #0040FF;
	white-space:nowrap;
	margin:0;
	padding: 0.3em;
}
	
#menuh a:link, #menuh a:visited, #menuh a:active{
	color: white;
	
	background-color: #017890;	
	text-decoration: none;
}
	
#menuh a:hover{
	color: white bold;
	background-color: #668CFF;	
	text-decoration:none;
}	
	
#menuh a.top_parent, #menuh a.top_parent:hover  {
	background-position: right center;
	background-repeat: no-repeat;
}
	
#menuh a.parent, #menuh a.parent:hover {
	background-position: right center;
	background-repeat: no-repeat;
}

#menuh ul{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	width:9em;	
}

#menuh li{
	position:relative;
	min-height: 1px;		
	vertical-align: bottom;		
}

#menuh ul ul{
	position:absolute;
	z-index:500;
	top:auto;
	display:none;
	padding: 1em;
	margin:-1em 0 0 -1em;
}

#menuh ul ul ul{
	top:0;
	left:100%;
}

div#menuh li:hover{
	cursor:pointer;
	z-index:100;
}

div#menuh li:hover ul ul{
	display:none;
}

div#menuh li:hover ul{
	display:block;
}

.texto_cabecera1 {
	background-color: black; font-family: Verdana, Arial;
	font-size: medium; color: #FFFFFF; font-weight: bold;
	position: fixed; top: 0; left: 0; width: 100%; height: 9%;
	text-align:left; line-height:40px;/*alinear el texto horizontal y vertical*/
}
.texto_cabecera2 {
	background-color: black; font-family: Verdana, Arial;
	font-size: small; color: #FFFFFF; 
	position:fixed; bottom:0; left: 0; width: 100%; height: 1.5em;
	text-align:center; 
}
.texto_cabecera3 {
	font-family: Verdana, Arial;
	font-size: 30px; color: black; font-weight: bold;
}
